@model CoverType

<form method="post">
    <div class="border p-3 mt-4">    @* padding ,margin top,padding bottom,margin bottom*@
        <div class="row pb-2">
          <h2 class="text-primary">Create CoverType</h2> 
          <hr />
          @*<div asp-validation-summary="All"></div>*@
          <div class="mb-3">
              <label asp-for="Name"></label>
              <input asp-for="Name" class="form-control"/>
              <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button> 
        <a asp-controller="CoverType" asp-action="index" class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>
 @*client-side validation*@
 @section Scripts{
     @{
         <partial name="_ValidationScriptsPartial" />
     }
 }


